<div class="alert alert-info" role="alert" ng-show="movieResult"> {{movieResult}} </div>

<div ng-show="searchMovie == null">
    <h1 style="text-decoration: underline;">Popular Movies {{searchMovie}}</h1>
</div>

<div class="container">

    <div ng-repeat="movie in movieList">
        <div class="col-md-3 topic-actors">
            <div class="[ info-card ]">
                <div>
                    <img style="width: 100%" ng-src="http://image.tmdb.org/t/p/w185/{{movie.poster_path}}" 
                            class="img-responsive" ng-show="movie.poster_path != null"/>

                    <img width="202px" height="280px" class="center-topic thumbnail" 
                            ng-src="assets/img/default-placeholder.png" ng-hide="movie.poster_path != null"/>
                </div>
                <div class="[ info-card-details ] animate">
                    <div class="[ info-card-header ]">
                        <h4> {{movie.original_title}} </h4>
                        <h4>{{movie.release_date | date:'yyyy'}} </h4>
                    </div>
                    <div class="[ info-card-detail ]">
                        <!-- Description -->
                        <h2>Rating: {{movie.vote_average}}/10</h2>
                        <h2>Votes: {{movie.vote_count}}</h2>
                        <br />
                        <a href="#/movie/{{movie.id}}" class="btn btn-success"> View Detail </a>
                    </div>
                </div>
            </div>
            <br />
        </div>
    </div>

</div>